<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markdown2HTML</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/md2html.css">


</head>
<body>

    <div id="app" class="container">
        <el-container>
            <el-header class="top">
                <div class="logo">{{ title }}</div>

                <el-switch @change="changeEditor()" v-model="editMD" active-color="#2326f5" inactive-color="#14f527" active-text="Markdown" inactive-text="CSS"> </el-switch>

                <el-button class="about" @click="aboutDialogVisible = true">关于</el-button>
            </el-header>
            <el-main class="main-body">
                <el-row :gutter="10" class="main-section">
                    <el-col :span="12">
            <textarea
                    id="md_editor"
                    type="textarea"
                    placeholder="Your markdown here."
                    v-model="md_source">
            </textarea>
                    </el-col>
                    <el-col :span="12">
            <textarea
                    id="css_editor"
                    type="textarea"
                    placeholder="Your css here."
                    v-model="css_source">
            </textarea>
                    </el-col>
                    <el-col :span="12" class="preview-wrapper">
                        <section>
                            <!--<div class="hint">全选复制或<a href="#" @click="copy" class="copy-button">点此复制</a>，然后在公众号编辑器粘贴</div>-->
                            <div class="preview" contenteditable="true">
                                <div id="output" v-html="output">
                                </div>
                            </div>
                        </section>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>

        <el-dialog title="关于" :visible.sync="aboutDialogVisible" width="30%" center>
            <div>
                <h3>WeChat Format 有什么用？</h3>
                <p>能较好地排版；</p>
                <p>能解决 <code>ul</code> 和 <code>ol</code> 渲染时样式被微信编辑器重置的问题；</p>
                <p>能把外部链接自动转为参考文献索引，并且附在文章末尾</p>
                <p>&nbsp;</p>
                <h3>关于我</h3>
                <p>我是 Lyric。如果你喜欢我的工具，可以：</p>
                <p>关注我的公众号 "<code>iamlyricw</code>"，<a href='https://lyric.im' target='_blank' class='url'>博客</a> 或 <a href='https://github.com/lyricat/wechat-format' target='_blank' class='url'>Github</a></p>
                <p>
                    微信打赏我：
                    <img src="./assets/images/wechat_qrcode.jpg" style="width: 60%; display: block; margin: 0 auto;"/>
                </p>
            </div>
            <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="aboutDialogVisible = false">打赏了！</el-button>
      </span>
        </el-dialog>


    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="static/js/md2html.js"></script>
</body>
</html>