<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markdown2HTML with CSS</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="static/codemirror/codemirror.css">
    <link rel="stylesheet" href="static/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="static/codemirror/theme/base16-light.css">
    <link rel="stylesheet" href="static/css/vue-eleui.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/md2html.css">
</head>
<body>
    <div id="app" class="container">
        <el-container>
            <el-header class="top">
                <div class="logo">{{ title }}</div>
                <div class="buttons">
                    <el-button type="default" id="download_md" @click="exportMarkdown()" >导出Markdown</el-button>
                    <el-button type="default" id="download_css" @click="exportCss()" >导出CSS</el-button>
                    <el-button type="primary" id="copy_result" @click="copy">复制渲染结果</el-button>
                    <el-button type="info" class="about" @click="aboutDialogVisible = true" >INFO</el-button>
                </div>


            </el-header>

            <el-main class="main-body">
                <!--<el-row :gutter="20">-->
                    <!--<el-col :span="10">Markdown</el-col>-->
                    <!--<el-col :span="6">CSS</el-col>-->
                    <!--<el-col :span="8">预览</el-col>-->
                    <!---->
                <!--</el-row>-->
                <el-row :gutter="20" class="main-section" >


                    <el-col :span="10">
                        <textarea
                                type="textarea"
                                id="md_editor"
                                v-model="md_source"
                                placeholder="在这里输入Markdown"
                        ></textarea>
                    </el-col>
                    <el-col :span="6">
                        <textarea
                                type="textarea"
                                id="css_editor"
                                v-model="css_source"
                                placeholder="在这里输入CSS"
                        ></textarea>
                    </el-col>
                    <el-col :span="8" class="preview-wrapper">
                        <div class="preview" contenteditable="true">
                            <div id="output" v-html="output">
                            </div>
                        </div>
                    </el-col>

                </el-row>

            </el-main>
        </el-container>

        <el-dialog title="INFO" :visible.sync="aboutDialogVisible" width="30%" center>
            <div id="info_content">
                <h3>感谢</h3>
                <p>灵感和部分代码来自于<a href="https://lab.lyric.im/wxformat/#">https://lab.lyric.im/wxformat/#</a></p>
                <h3>联系我</h3>
                <p>我是Olivia</p>
                <p>欢迎关注我的公众号「伪装程序大佬」</p>
                <img src="static/img/qr.png" style="width: 100%;" />
            </div>
        </el-dialog>

    </div>


    <script src="static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="static/js/showdown.min.js" type="text/javascript"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/element-ui/index.js"></script>
    <script src="static/codemirror/codemirror.js"></script>
    <script src="static/codemirror/highlight/markdown.js"></script>
    <script src="static/codemirror/highlight/css.js"></script>
    <script src="static/js/axios.min.js"></script>

    <script src="static/js/placeholder.js"></script>

    <script src="static/js/md2html.js"></script>
</body>
</html>