h1 {
    margin-top: 70px;
    margin-bottom:30px;
    text-align: center;
    font-size:24px;
}

h2 {
    margin-top: 60px;
    margin-bottom:30px;
    text-align: center;
    font-size:20px;
}

h3 {
    margin-top: 50px;
    margin-bottom:20px;
    text-align: center;
}

p{
    font-size: 14px;
    color: #595757;
    margin: 10px 5px;
}

strong{
    color:#50c8a9;
}

code {
    color:#50c8a9;
}

li {
    font-size:14px;
    color:#595757;
}